<form action="/dogs" method="post">
      <p>
        <input type="text" name="name" placeholder="Type of Dog">
        <input type="text" name="description" placeholder="Description">
        <input type="integer" name="rating_1_to_5" placeholder="Rating">
        <input type="submit" value="Create Dog"
      </p>
</form>